<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timestamp Microservice </title>
</head>
<body>


<div class='containter'>

    <h2>Error: page not found</h2>
    
    <h3>Go to the home page: <a href="/">Click here</a></h3>

</div>
</body>
<style>
    html{
        font-family: 'Courier New', Courier, monospace;
        font-size: 60%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }
    .containter{
        
        background: rgba(128, 128, 128, 0.294);
        padding: 5rem;
    }
    
</style>

</html>